body {
  background-image: url(https://www.transparenttextures.com/patterns/lined-paper.png);
  background-repeat: repeat;
  background-color: rgb(48, 125, 188);
}
.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  p {
    color: rgb(0, 0, 0);
  }
}
.home {
  position: relative;
}
.home-content {
  display: flex;
  margin-top: 50px;
  justify-content: space-around;
  margin-bottom: 100px;
}
.home-img {
  width: 40%;
  height: 100%;
  margin: auto 0;
}


.login,
.Register {
  width: 40%;
  h2 {
    font-size: 48px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    color: #bfdbf7;
  }
  h3 {
    font-size: 20px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    text-indent: 10px;
    color: rgb(28, 74, 112);
  }
}
@media(max-width:767px){
  .home-img{
    display: none;
  }
  .login,
.Register{
  width: 70%;
}
}

.login-chose,
.register-chose {
  display: flex;
  justify-content: space-around;
  padding-left: 40px;
  padding-right: 40px;
  button {
    font-weight: bold;
    font-size: 18px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #1f7a8c;
    border: #bfdbf7 2px solid;
    border-radius: 5px;
    display: block;
    color: #bfdbf7;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
@media(max-width:478px){
  .login-chose,
.register-chose {
  justify-content: space-between;
   padding-left: 10px;
  padding-right: 10px;
}
}
header {
  background-color: #bfdbf7;
  margin: auto;
  padding: 10px 32px;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 50px;
  h1 {
    color: #022b3a;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
  }
  h2 {
    color: #022b3a;
    font-weight: bold;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    font-family: 'Noto Sans TC', sans-serif;
    margin-bottom: 10px;
  }
  button {
    float: right;
    border: none;
    background-color: #bfdbf7;
    font-size: 18px;
    text-decoration: underline;
    cursor: pointer;
  }
}
@media(max-width:767px){
header{
  h1{
    font-size: 30px;
  }
  h2{
    font-size: 20px;
  }
}
}

.headerName {
  display: flex;
  justify-content: space-between;
}
.inputArea {
  position: relative;
  max-width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  margin-bottom: 30px;
  box-shadow: 0 5px 10px rgb(53, 53, 53);
  textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    font-family: inherit;
    resize: none;
  }
  .add {
    position: absolute;
    right: 18px;
    bottom: -18px;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
    color: #022b3a;
    padding: 2px;
  }
}

.note {
  position: relative;
  padding: 20px;
  width: 300px;
  height: 150px;
  font-size: 20px;
  background-color: #e1e5f2;
  box-shadow: 0 5px 10px rgb(53, 53, 53);
  border-radius: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.noteButton {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 270px;
  justify-content: space-between;
  button {
    background-color: #e1e5f2;
    border: none;
    cursor: pointer;
  }
}
.noteItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
@media(max-width:767px){
.note{
  width: 200px;
}
.noteButton {
  width: 180px;
}
}
@media(max-width:478px){
.note{
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}
.noteButton {
  width: 90%;
}
}
.waitFinishItem {
  width: 50%;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  background-color: #022b3a;
  color: #e1e5f2;
  border-radius: 10px;
}
.waitFinish {
  margin-top: -5px;
  display: flex;
  max-width: 500px;
  justify-content: space-between;
  button {
    width:40%;
    background-color: rgb(242, 176, 176);
    border: none;
    line-height: 30px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
  justify-content: center;
    svg{
      font-size: 20px;
    }
  }
}
.select{
  display: flex;
  max-width: 500px;
  justify-content: space-between;
  margin-top: 10px;
 li{
  width: 30%;
 }
 button{
  width: 100%;
  line-height: 24px;
  background-color:#bfdbf7;
  border:none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
 }
 .changeColor{
  background-color: #1f7a8c;
  border: 2px solid #022b3a;
  color: white;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3);;
 }
}
@media(max-width:478px){
.note{
  width: 100%;
}
.noteButton {
  width: 90%;
}
.waitFinish{
  display: block;
width: 100%;
button{
  width: 100%;
  margin-bottom: 10px;
}
}
.waitFinishItem{
  width: 100%;
}
}

// *{outline:red 1px solid}